@font-face {
    font-family: 'digital-7_monomono';
    src: url('fonts/digital7mono-b1g5-webfont.woff2') format('woff2'),
         url('fonts/digital7mono-b1g5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    justify-content: center;
    background: url("images/background.png");
}

.buttons-panel {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
    place-content: center;
    margin-top: 20px;
}

button {
    font-size: 30px;
    font-weight: 600;
    background-color: #ececec;
    border-radius: 12px;
}

.number-button, #point, #equal {
    background-color: #2e2e2e;
    color: #ffffff;
}

#clear {
    background-color: rgb(163, 16, 16);
    color: #ffffff;
}

#add {
    grid-column: 4;
    grid-row: 4 / 6;
}

#backspace {
    font-size: 20px;
}

.display {
    font-family: 'digital-7_monomono', serif;
    background-color: #c1d797;
    text-align: end;
    font-size: 40px;
    border: 10px solid #c1d797;
    border-radius: 15px;
}

.previous-operation {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    gap: 10px;
}

#current-operation {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calculator {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    width: 260px;
    border: 15px solid #5a5c68;
    border-radius: 15px;
    background-color: #5a5c68;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 10px 5px rgba(0,0,0,0.5); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 10px 5px rgba(0,0,0,0.5);
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 15px;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}